body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(background.jpg);
    background-size: cover;
  }
  
  header {
    text-align: center;
    color: #ff97a2;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
    display: inline-block;
    display: flex;
    justify-content: center;
  }
  
  main {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
  }
  
  section {
    margin: 2rem 0;
    width: 80%;
  }
  
  h2 {
    text-align: center;
    color: #ff97a2;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
    border-radius: 0.5px;
    display: inline-block;
    display: flex;
    justify-content: center;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
    background: #fff;
    text-align: center;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    height: 17rem;
  }
  
  button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #466273;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #253759;
  }
  
  input, select {
    display: block;
    margin: 0.5rem auto;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
  }
  
  .result {
    margin-top: 1rem;
    font-weight: bold;
    color: darkgreen;
  }
  